[Unit]
Description=LGS Modbus TCP to RTU Gateway
After=network.target

[Service]
User=root
WorkingDirectory=/home/arduino/lgs_gateway
ExecStart=/home/arduino/lgs_gateway/venv/bin/python /home/arduino/lgs_gateway/src/modbus_gateway.py
Restart=always
RestartSec=5
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
